/* add home page styles here */

/*.main-section {
    display:flex;
    flex-direction:row;
}*/

.hiding-places{
    height: 300px;
    display:flex;
    flex-direction:row;
}

.hidden-png {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 30px;
}

.ball {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(240, 255, 24);
    margin: 10px;

}

.text
    {
        /*width: 300px;*/
        border: 2px solid rgb(128, 15, 0);
        padding: 2px;
        margin: 2px;
}

