/* add home page styles here */
.hiding-places{
    height: 300px;
    display:flex;
}

.hidden-png {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.ball {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
    margin: 10px;

}